@model BillPayScheduleViewModel
@{ ViewData["Title"] = "Confirm BillPay"; }

<h1>Confirm BillPay</h1>
<form asp-action="Submit">
    <fieldset>
        <legend>From</legend>
        <div class="mb-3">
            <label asp-for="AccountNumber" class="control-label"></label>
            <input asp-for="AccountNumber" class="form-control-plaintext" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="AccountType" class="control-label"></label>
            <input asp-for="AccountType" class="form-control-plaintext" readonly>
        </div>
    </fieldset>
    <fieldset>
        <legend>To</legend>
        <div class="mb-3">
            <label asp-for="PayeeID" class="control-label"></label>
            <input asp-for="PayeeID" class="form-control-plaintext" readonly>
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="mb-3">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control-plaintext" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="ScheduledTimeUtc" class="control-label"></label>
            <input asp-for="ScheduledTimeUtc" class="form-control-plaintext" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="Period" class="control-label"></label>
            <input asp-for="Period" class="form-control-plaintext" readonly>
        </div>
    </fieldset>
    <div class="mb-3">
        <button asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>