@model ChangePasswordViewModel
@{ ViewData["Title"] = "Change password"; }

<div class="border rounded p-5">
    <h1 class="mb-5">Change password</h1>
    <form asp-action="SubmitChangePassword">
        <div class="mb-3">
            <label asp-for="OldPassword" class="control-label mb-2"></label>
            <input asp-for="OldPassword" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger mt-2 d-block"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="control-label mb-2"></label>
            <input asp-for="NewPassword" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger mt-2 d-block"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="control-label mb-2"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger mt-2 d-block"></span>
        </div>
        @Html.ValidationMessage("PasswordFailed", new { @class = "text-danger mt-2 d-block" })
        <div class="d-grid gap-2 d-md-flex mt-5 pt-4">
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-outline-primary" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>