@{ ViewData["Title"] = "Dashboard"; }

<div class="border rounded p-5">
    <h1 class="mb-5">Welcome!</h1>
    <p>Manage customers, logins and BillPays all in one place. Click a link in the navigation to get started.</p>
</div>
