@{ ViewData["Title"] = "Dashboard"; }

<div class="border rounded p-5 row text-center">
    <div class="col-md-9 mx-auto">
        <h1 class="mb-5">Welcome!</h1>
        <p class="h4">
            Manage customers, logins and BillPays all in one place.
            Click a link in the navigation to get started.
        </p>
    </div>
</div>
