@model ChangePasswordViewModel
@{ ViewData["Title"] = "BillPay"; }

<h1>BillPay</h1>

<h2>Scheduled bills</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>
<a asp-controller="Dashboard" asp-action="ScheduleBillPay">Create new</a>