@model ChangePasswordViewModel
@{ ViewData["Title"] = "Change Password"; }

<h1>Change Password</h1>
<form asp-action="SubmitChangePassword">
    <div class="mb-3">
        <label asp-for="OldPassword" class="control-label mb-2"></label>
        <input asp-for="OldPassword" class="form-control">
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="control-label mb-2"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="control-label mb-2"></label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    @Html.ValidationMessage("PasswordFailed", new { @class = "text-danger" })
</form>
@if (ViewBag.DisplaySuccess)
{
    <span class="text-success">Password updated successfully.</span>
}
<a asp-controller="Dashboard" asp-action="Profile">Back to Profile</a>