@model LoginViewModel
@{ ViewData["Title"] = "Login"; }

<h1>Login</h1>
<form asp-action="SubmitLogin">
    <div class="mb-3">
        <label asp-for="LoginID" class="control-label"></label>
        <input asp-for="LoginID" class="form-control">
        <span asp-validation-for="LoginID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
</form>