@{
    ViewData["Title"] = "Home";
}
<div class="border rounded p-5 row text-center">
    <div class="col-md-9 mx-auto">
        <h1 class="mb-5">Welcome to MCBA</h1>
        <p class="h4">We are an Australian owned bank offering a range of different account options and services.</p>
    </div>
</div>
