@model LoginSearchViewModel
@{ ViewData["Title"] = "Logins"; }

<div class="border rounded p-5 row text-center">
    <div class="col-md-9 mx-auto">
        <h1 class="mb-5">Logins</h1>
        <p class="mb-4 h4">Lock and unlock a customer’s login.</p>
        <form asp-action="Search">
            <div class="d-flex">
                <input asp-for="LoginID" class="form-control me-2" type="search" placeholder="Enter login ID">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
            <span asp-validation-for="LoginID" class="text-danger mt-2 d-block"></span>
        </form>
    </div>
</div>
